<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div><img src="/images/logo-mercado-liebre.svg"></div>
        <h2>lugar para poner la barra de busqueda</h2>
        <h2>comprar en cuotas y sin targeta de credito</h2>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <p>                             </p>
            <li><a href="#">Crea tu Cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </footer>

    <ul>
        <li><h2>Sección: Basado en tu última visita</h2></li>
    </ul>

    <section>
        <article>
            
            <img width="200" height="300" src="/images/img-cafetera-moulinex.jpg">
            <h4>$6.770</h4>
            <h4>40% OFF</h4>
            <h3>Cafetera Moulinex</h3>

        </article>

        <article>
           
            <img width="200" height="300" src="/images/img-macbook-pro-2019.jpg">
            <h4>$230.000</h4>
            <h4>20% OFF</h4>
            <h3>MacBook Pro 2019</h3>

        </article>
        
        <article>
            
            <img width="200" height="300" src="/images/img-samsung-galaxy-s10.jpg">
            <h4>$70.500</h4>
            <h4>10% OFF</h4>
            <h3>Samsung Galaxy S10</h3>

        </article>

        <article>
            
            <img width="200" height="300" src="/images/img-tv-samsung-smart.jpg">
            <h4>$23.200</h4>
            <h4>5% OFF</h4>
            <h3>SmartTv Samsung 43"</h3>

        </article>

    </section>

    <ul>
        <li><h2>Sección de Ofertas</h2></li>
    </ul>
    <section>
        <article>
            
            <img width="200" height="300" src="/images/img-cafetera-moulinex.jpg">
            <h4>$6.770</h4>
            <h4>40% OFF</h4>
            <h3>Cafetera Moulinex</h3>

        </article>

        <article>
           
            <img width="200" height="300" src="/images/img-macbook-pro-2019.jpg">
            <h4>$230.000</h4>
            <h4>20% OFF</h4>
            <h3>MacBook Pro 2019</h3>

        </article>
        
        <article>
            
            <img width="200" height="300" src="/images/img-samsung-galaxy-s10.jpg">
            <h4>$70.500</h4>
            <h4>10% OFF</h4>
            <h3>Samsung Galaxy S10</h3>

        </article>

        <article>
            
            <img width="200" height="300" src="/images/img-tv-samsung-smart.jpg">
            <h4>$23.200</h4>
            <h4>5% OFF</h4>
            <h3>SmartTv Samsung 43"</h3>

        </article>
    </section>

    <ul>
        <li><a href="#">Pagá con tarjeta o en efectivo</a></li>
    </ul>
    <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</h6>
       
     <ul> 
        <li><a href="#">Envío gratis desde $ 2.500</a></li>
     </ul>
    <h6>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</h6>

    <ul> 
        <li><a href="#">Seguridad, de principio a fin</a></li>
    </ul>
    <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</h6>
    
        <ul> 
            <li><a href="#">Copyright © 1999-2020 MercadoLiebre S.R.L.</a></li>
        </ul>
        
</body>
</html>