<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Playfair+Display:wght@500&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/68cedf99f1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    
        <div class="top-header">
              
            <div class="engloba-logo">
            <img class="logo-mercado-liebre"  src="/images/logo-mercado-liebre.svg" >
            <div class="header">
            
            <input class="buscador" type="text" placeholder="Buscar productos, marcas">
            
            <div class="icono-buscar">
            <i class="fas fa-search "></i>
            </div>

            </div> 
            </div>
            


            <div class="center-sub">
            <h2 class="descripciones-t"><i class="fas fa-hand-holding-usd"></i>comprar en cuotas y sin targeta de credito</h2>
            </div>
        </div>
        <nav class="desaparece">
            <ul class="left-navbar">
               <li><a href="#">Ofertas</a></li>
               <li><a href="#">Tiendas Oficiales</a></li>
               <li><a href="#">Vender</a></li>
               <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
               <li><a href="#">Crea tu Cuenta</a><i class="far fa-address-card"></i></li>
               <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
               <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
            <div class="items-menu">
            <i class="fas fa-bars"></i>
            </div>
        
    </header>
    <main>
        <form>
            <label for="nombre">Nombre y Apellido</label>
            <input type="text"name="nombre" required pattern=".{6,}" title="Ej:Santos Giron" placeholder="Ej:Santos Giron" class="control">
            
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text"name="usuario" required pattern=".{4,}" title="Ej:Santos" placeholder="Ej:Santos" class="control">
        
            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
            <input type="date"name="fechaNacimiento" required class="control">
        
            <label for="domicilio">Domicilio:</label>
            <input type="text"name="domicilio" required pattern=".{5,}" title="Ej:La Quiaca" placeholder="Ej:La Quiaca" class="control">
        
            <label for="perfil">Perfil de Usuario:</label>
            <select name="perfil">
              <option value="comprador">Comprador</option>
              <option value="vendedor">Vendedor</option>
            </select>
        
            <label>Categorías de Interés:</label>
        
              <label><input type="checkbox" value="electro">  Electro</label>
              <label><input type="checkbox" value="moda">  Moda</label>
              <label><input type="checkbox" value="hogar">  Hogar</label>
              <label><input type="checkbox" value="juguetes">  Juguetes</label>
              <label><input type="checkbox" value="vidaSana">  Vida Sana</label>
        
            
        
            <label for="foto">Foto de Usuario:</label>
            <input type="file" name="foto" accept=".jpg" class="control">
        
            <label for="contrasena">Contraseña:</label>
            <input type="password"name="contrasena" required pattern=".{8,}" title="Ingresa al menos 8 caracteres" placeholder="Ingresa almenos 8 caracteres" class="control">
        
            <label for="confirmarContrasena">Confirmar Contraseña:</label>
            <input type="password"name="confirmarContrasena" required class="control">
        
            <button type="submit" class="boton">Enviar</button>
            <button type="reset" class="boton">Limpiar Campos</button>
          </form>

    </main>
    <footer>
        <div class="agrupando-footer">
        <div class="acomodado">
        <div class="items">
        <i class="fas fa-credit-card fa-lg"></i></div>
        <div class="footer">
        <h2 class="descripciones">Pagá con tarjeta o en efectivo</h2>
        <h6 class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</h6>
        </div>
        </div>
        <div  class="acomodado">
        <div class="items">
        <i class="fas fa-gift fa-lg"></i></div>
        <div class="footer">
        <h2 class="descripciones">Envío gratis desde $ 2.500</h2>
        <h6 class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</h6>
        </div>
        </div>
        <div  class="acomodado">
        <div class="items">
        <i class="fas fa-user-shield fa-lg"></i></div>
        <div class="footer">
        <h2 class="descripciones">Seguridad, de principio a fin</a></h2>
        <h6 class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</h6>
        </div>
        </div>
        </div>
        <div class="footer"> 
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>